#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config LIBUV
	bool "libuv asynchronous I/O Library"
	default n
	select CLOCK_MONOTONIC
	select PIPES
	---help---
		Enable build for libuv asynchronous I/O Library

if LIBUV

config LIBUV_THREADPOOL_SIZE
	int "libuv default thread pool size"
	default 1

menu "libuv extension"

config LIBUV_EXTENSION
	bool "Enable libuv extension"
	default n
	---help---
		Enable libuv extension

if LIBUV_EXTENSION

config LIBUV_EXTENSION_TEST
	bool "libuv extension test"
	default n
	---help---
		Enable libuv extension test

if LIBUV_EXTENSION_TEST

config LIBUV_EXTENSION_TEST_PRIORITY
	int "libuv extension test priority"
	default 100

config LIBUV_EXTENSION_TEST_TASK_STACKSIZE
	int "libuv extension test stack size"
	default 65535

endif

endif

endmenu

endif
