#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig GRAPHICS_LVGL
	bool "Light and Versatile Graphic Library (LVGL)"
	default n
	---help---
		Enable support for the LVGL GUI library.

if GRAPHICS_LVGL

config LVGL_VERSION
	string "LVGL Version"
	default "8.0.0"

source "$APPSDIR/graphics/lvgl/lvgl/Kconfig"

config LV_USE_LCDDEV_INTERFACE
	bool "LCD device interface"
	default n

if LV_USE_LCDDEV_INTERFACE

config LV_LCDDEV_INTERFACE_DEFAULT_DEVICEPATH
	string "LCD default device path"
	default "/dev/lcd0"

config LV_USE_FULL_SCREEN_BUFFER
	bool "Use full screen buffer"
	default n

if !LV_USE_FULL_SCREEN_BUFFER

config LV_DEFAULT_LINE_BUFFER
	int "Default buffer size (in line)"
	default 10

endif

config LV_USE_DOUBLE_BUFFER
	bool "Use double buffer"
	default n

endif

config LV_USE_FBDEV_INTERFACE
	bool "Framebuffer device interface"
	default n

if LV_USE_FBDEV_INTERFACE

config LV_FBDEV_INTERFACE_DEFAULT_DEVICEPATH
	string "Framebuffer default device path"
	default "/dev/fb0"

endif

config LV_USE_GPU_INTERFACE
	bool "Use GPU acceleration"
	default n
        select LV_USE_EXTERNAL_RENDERER

if LV_USE_GPU_INTERFACE

config LV_GPU_USE_VGLITE
	bool "Use vglite HW acceleration"
	default y

config LV_GPU_USE_DMA2D
	bool "Use DMA2D HW acceleration"
	default y

config LV_GPU_USE_ARM2D
	bool "Use ARM-2D graphics library"
	default n
	depends on GRAPHICS_ARM2D

choice
	prompt "Default power mode"
	default GPU_MODE_PERFORMANCE

config GPU_MODE_POWERSAVE
	bool "Low power mode"

config GPU_MODE_BALANCED
	bool "Balanced mode"

config GPU_MODE_PERFORMANCE
	bool "High performance mode"

endchoice

endif

menuconfig LV_USE_BUTTON_INTERFACE
	bool "Button input interface"
	default n

if LV_USE_BUTTON_INTERFACE

config LV_BUTTON_INTERFACE_DEFAULT_DEVICEPATH
	string "Button default device path"
	default "/dev/buttons"

config LV_BUTTON_INTERFACE_BUTTON_0_MAP_X
	int "Button 0 mapping coordinate x"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_0_MAP_Y
	int "Button 0 mapping coordinate y"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_1_MAP_X
	int "Button 1 mapping coordinate x"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_1_MAP_Y
	int "Button 1 mapping coordinate y"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_2_MAP_X
	int "Button 2 mapping coordinate x"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_2_MAP_Y
	int "Button 2 mapping coordinate y"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_3_MAP_X
	int "Button 3 mapping coordinate x"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_3_MAP_Y
	int "Button 3 mapping coordinate y"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_4_MAP_X
	int "Button 4 mapping coordinate x"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_4_MAP_Y
	int "Button 4 mapping coordinate y"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_5_MAP_X
	int "Button 5 mapping coordinate x"
	default 0

config LV_BUTTON_INTERFACE_BUTTON_5_MAP_Y
	int "Button 5 mapping coordinate y"
	default 0

endif

menuconfig LV_USE_KEYPAD_INTERFACE
	bool "Keypad input interface"
	default n
	---help---
	button bit map < 0 is no binding, must >= 0 and < 31 to binding button device.

if LV_USE_KEYPAD_INTERFACE

config LV_KEYPAD_INTERFACE_DEFAULT_DEVICEPATH
	string "Button default device path"
	default "/dev/buttons"

config LV_KEYPAD_INTERFACE_KEY_UP_MAP_BIT
	int "LV_KEY_UP button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_DOWN_MAP_BIT
	int "LV_KEY_DOWN button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_RIGHT_MAP_BIT
	int "LV_KEY_RIGHT button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_LEFT_MAP_BIT
	int "LV_KEY_LEFT button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_ESC_MAP_BIT
	int "LV_KEY_ESC button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_DEL_MAP_BIT
	int "LV_KEY_DEL button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_BACKSPACE_MAP_BIT
	int "LV_KEY_BACKSPACE button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_ENTER_MAP_BIT
	int "LV_KEY_ENTER button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_NEXT_MAP_BIT
	int "LV_KEY_NEXT button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_PREV_MAP_BIT
	int "LV_KEY_PREV button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_HOME_MAP_BIT
	int "LV_KEY_HOME button bit map"
	default -1

config LV_KEYPAD_INTERFACE_KEY_END_MAP_BIT
	int "LV_KEY_END button bit map"
	default -1

endif

config LV_USE_TOUCHPAD_INTERFACE
	bool "Touchpad input interface"
	default n

if LV_USE_TOUCHPAD_INTERFACE

config LV_TOUCHPAD_INTERFACE_DEFAULT_DEVICEPATH
	string "Touchpad default device path"
	default "/dev/input0"

endif

config LV_USE_ENCODER_INTERFACE
	depends on INPUT_MOUSE_WHEEL
	bool "Encoder input interface"
	default n

if LV_USE_ENCODER_INTERFACE

config LV_ENCODER_INTERFACE_DEFAULT_DEVICEPATH
	string "Encoder default device path"
	default "/dev/input0"

endif

config LV_USE_FREETYPE_INTERFACE
	bool "Use FreeType interface"
	depends on LIB_FREETYPE
	default n

if LV_USE_FREETYPE_INTERFACE

config LV_USE_FT_CACHE_MANAGER
	bool "use freetype cache manager"
	default y

if LV_USE_FT_CACHE_MANAGER

config LV_USE_FT_SBIT_CACHE
	bool "bitmap cache use the sbit cache, otherwise, use image cache"
	default y

endif

endif

config LV_USE_FFMPEG_INTERFACE
	bool "Use FFmpeg interface"
	depends on LIB_FFMPEG
	default n

if LV_USE_FFMPEG_INTERFACE

config LV_FFMPEG_INTERFACE_AV_DUMP_FORMAT
	bool "FFmpeg dump av format"
	default n

endif

menu "LVGL extension"

config LVGL_EXTENSION
	bool "Enable LVGL extension"
	default n
	---help---
		Enable LVGL extension

if LVGL_EXTENSION

menu "font manager config"

config LVX_USE_FONT_MANAGER
	bool "LVX_USE_FONT_MANAGER"
	default y
	depends on LV_USE_FREETYPE_INTERFACE
	---help---
		Enable font-manager for freetype fonts.

config FONT_LIB_PATH
	string "The path of the font library"
	depends on LVX_USE_FONT_MANAGER
	default "/data/"
	help
		The path of the font library. eg:
		/data/	, /data/font/xxxxx
		Note: '/' is required at the end of the string.

config FONT_MAX_FACES
	int "the face num to freetype cache"
	depends on LVX_USE_FONT_MANAGER
	default 16

config FONT_MAX_SIZES
	int "the size num to freetype cache"
	depends on LVX_USE_FONT_MANAGER
	default 32

config FONT_MAX_BYTES
	int "the bytes num to freetype cache"
	depends on LVX_USE_FONT_MANAGER
	default 1048576

endmenu

config LVX_USE_WIDGETS
	bool "Enable widgets extension"
	default y
	---help---
		Enable widgets extension

if LVX_USE_WIDGETS

config	LVX_USE_THEME_EXTENDED
	bool "LVX_USE_THEME_EXTENDED"
	default y
	---help---
		Enable use theme extended

config LVX_USE_BTN
	bool "LVX_USE_BTN"
	default y
	---help---
		Enable use lvx_btn widgets

config LVX_USE_RADIO
	bool "LVX_USE_RADIO"
	default y
	---help---
		Enable use lvx_radio widgets

config LVX_USE_SWITCH
	bool "LVX_USE_SWITCH"
	default y
	---help---
		Enable use lvx_switch widgets

config LVX_USE_PICKER
	bool "LVX_USE_PICKER"
	default y
	---help---
		Enable use lvx_picker widgets

config LVX_USE_MSGBOX
	bool "LVX_USE_MSGBOX"
	default y
	---help---
		Enable use lvx_msgbox widgets

config LVX_USE_ARC_SCROLLBAR
	bool "LVX_USE_ARC_SCROLLBAR"
	default y
	---help---
		Enable use lvx_arc_scrollbar widgets

config LVX_USE_CHART
	bool "LVX_USE_CHART"
	default y
	---help---
		Enable use lvx_chart widgets

config LVX_USE_RLE
	bool "RLE binary file compression support"
	default y
	---help---
		Enalbe decoder to file .rle. When enabled, rle file decoder is
		registered to lvgl.

endif

endif

endmenu

endif # GRAPHICS_LVGL
