#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_WATCHX
	tristate "WatchX example"
	default n
	---help---
		Enable the WatchX example

if EXAMPLES_WATCHX

config EXAMPLES_WATCHX_CALIBRATE
	bool "Calibrate touchscreen"
	default y
	---help---
		Calibrate touchscreen before demo start, but some touchscreen
		don't need it, like capacitive touchscreen.

config EXAMPLES_WATCHX_BUFF_SIZE
	int "Display buffer size (in line)"
	default 20

endif
