#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig EXAMPLES_LVGLDEMO
	tristate "LVGL Demo"
	depends on GRAPHICS_LVGL
	default n
	---help---
		Enable build the Light and Versatile Graphics Library Demo programs

if EXAMPLES_LVGLDEMO

choice
	prompt "Select a demo application"
	default EXAMPLES_LVGLDEMO_WIDGETS

config EXAMPLES_LVGLDEMO_BENCHMARK
	bool "Benchmark"

config EXAMPLES_LVGLDEMO_KEYPAD_ENCODER
	bool "Keypad encoder"

config EXAMPLES_LVGLDEMO_MUSIC
	bool "Music"

config EXAMPLES_LVGLDEMO_STRESS
	bool "Stress"

config EXAMPLES_LVGLDEMO_WIDGETS
	bool "Widgets"

endchoice

if EXAMPLES_LVGLDEMO_WIDGETS

config EXAMPLES_LVGLDEMO_WIDGETS_SLIDESHOW
	bool "Enable Slideshow mode for Widgets example"
	default n
	---help---
		Slideshow mode consists of a non-interactive demonstration of the
		Widgets example.

endif # EXAMPLES_LVGLDEMO_WIDGETS

if EXAMPLES_LVGLDEMO_MUSIC

config EXAMPLES_LVGLDEMO_MUSIC_LANDSCAPE
	bool "Enable Landscape for Music example"
	default n

config EXAMPLES_LVGLDEMO_MUSIC_LARGE
	bool "Enable Large for Music example"
	default n

config EXAMPLES_LVGLDEMO_MUSIC_AUTO_PLAY
	bool "Enable Autoplay for Music example"
	default n

endif # EXAMPLES_LVGLDEMO_MUSIC

config EXAMPLES_LVGLDEMO_PRIORITY
	int "lvgldemo task priority"
	default 100

config EXAMPLES_LVGLDEMO_STACKSIZE
	int "lvgldemo stack size"
	default 32768

endif
