#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig EXAMPLES_LVGLDEMO
	tristate "LVGL Demo"
	depends on GRAPHICS_LVGL
	default n
	---help---
		Enable build the Light and Versatile Graphics Library Demo programs

if EXAMPLES_LVGLDEMO

choice
	prompt "Select a demo application"
	default EXAMPLES_LVGLDEMO_WIDGETS

config EXAMPLES_LVGLDEMO_BENCHMARK
	bool "Benchmark"

config EXAMPLES_LVGLDEMO_PRINTER
	bool "Printer"
	---help---
		This demo is optimized for 800 * 480 resolution

config EXAMPLES_LVGLDEMO_STRESS
	bool "Stress"

config EXAMPLES_LVGLDEMO_WIDGETS
	bool "Widgets"

endchoice

if EXAMPLES_LVGLDEMO_WIDGETS

config EXAMPLES_LVGLDEMO_WIDGETS_SLIDESHOW
	bool "Enable Slideshow mode for Widgets example"
	default n
	---help---
		Slideshow mode consists of a non-interactive demonstration of the
		Widgets example.

endif # EXAMPLES_LVGLDEMO_WIDGETS

config EXAMPLES_LVGLDEMO_PRIORITY
	int "lvgl task priority"
	default 100

config EXAMPLES_LVGLDEMO_STACKSIZE
	int "lvgldemo stack size"
	default 16384

endif
