#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig EXAMPLES_LVGLDEMO
	tristate "LVGL Demo"
	default n
	depends on GRAPHICS_LVGL
	---help---
		Enable build the Light and Versatile Graphics Library Demo programs

if EXAMPLES_LVGLDEMO

config EXAMPLES_LVGLDEMO_PRIORITY
	int "lvgldemo task priority"
	default 100

config EXAMPLES_LVGLDEMO_STACKSIZE
	int "lvgldemo stack size"
	default 32768

comment "Input configuration options"
	depends on INPUT_TOUCHSCREEN || INPUT_MOUSE

config EXAMPLES_LVGLDEMO_CALIBRATE
	bool "Calibrate touchscreen"
	default y
	depends on INPUT_TOUCHSCREEN || INPUT_MOUSE
	---help---
		Calibrate touchscreen before demo start, but some touchscreen
		don't need it, like capacitive touchscreen.

if INPUT_TOUCHSCREEN

config EXAMPLES_LVGLDEMO_MINOR
	int "Touchscreen minor device number"
	default 0
	---help---
		The minor device number.  Minor=N corresponds to touchscreen device
		/dev/inputN.  Note this value must with EXAMPLES_LVGLDEMO_DEVPATH.
		Default 0.

config EXAMPLES_LVGLDEMO_DEVPATH
	string "Touchscreen device path"
	default "/dev/input0"
	---help---
		The path to the touchscreen device.  This must be consistent with
		EXAMPLES_LVGLDEMO_MINOR. Default: "/dev/input0"

endif # INPUT_TOUCHSCREEN

config EXAMPLES_LVGLDEMO_MOUSE
	bool "Mouse interface"
	default n
	depends on INPUT_MOUSE
	---help---
		The LittleVGL demo can also be configured to work with a mouse
		driver by setting this option.

endif # EXAMPLES_LVGLDEMO
